.headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header{
    background-color: #FFF2E1; 
}

.links{
    display: flex;
    gap: 30px;
    align-items: center;
}

.link{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: 0.2s;
}
.link:hover{
    color: #F48C06;
    transform: translateY(-8%);
}

.btn{
    padding: 10px 20px;
    border: none;
    width: 120px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 18px;
    transition: 0.2s;
    background-color: white;
    box-shadow: 0px 20px 24px 0px #00000008;
}
.btn:hover{
    background-color: #F48C06;
    color: #fff;
    transform: translateY(-8%);
}

.bttn{
    padding: 10px 20px;
    border: none;
    width: 120px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 18px;
    background-color: #F48C06;
    color: #fff;
    transition: 0.2s;
}
.bttn:hover{
    background-color: white;
    color: #F48C06;
    transform: translateY(-8%);
}